<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Test Suite">
    <listeners>
        <listener class-name="com.maxsoft.extentreport.ExtentReportListener"/>
    </listeners>
    <test name="Regression Test">
        <classes>
            <class name="LoginTest" />
        </classes>
    </test>
</suite>